html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.center{
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Myriad Pro', 'Roboto', san-serif;
    color: #fff;
}

.block {
	padding: 48px 78px 18px;
	min-height: 478px;
}
@media only screen and (max-width: 848px){
    .block{
        padding: 28px 36px 18px;
        min-height: auto;
    }
}
@media only screen and (max-width: 452px){
    .block{
        padding: 12px;
    }
}

.first-block-bg {
	background: linear-gradient(to right, rgba(30, 240, 180, 0.6) 10%, rgba(100, 200, 255, 0.8) 100%), url(../images/Color-Fill-1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.logo{
	float: left;
}
.logo-img{
	float: left;
	width: 32px;
	margin: 0px 2px;
}
.logo-texts{
	float: left;
	margin-left: 10px;
}
.logo-texts p{
	font-size: 13px;
    margin: 0px;
    text-transform: uppercase;
}
.logo-text2{
	font-weight: bold;
}
@media only screen and (max-width: 452px){
    .logo{
        float: none;
        margin-bottom: 16px;
    }
}

.mobile__menu-button{
    display: none;
    float: right;
    margin: 1px 20px;
    padding: 6px 9px;
    border: 1px solid #fff;
    border-radius: 3px;
}
.mobile__menu-button:hover{
    cursor: pointer;
}
.mobile__menu-button > img{
    width: 14px;
}
.block-menu{
    float: left;
    margin-left: 20%;
}
.menu-list{
    list-style: none;
    padding-left: 0px;
    margin: 8px 0;
}
.menu-list--item{
    display: inline-block;
    margin: 0 20px;
}
.menu-list--item-link{
    color: inherit;
    transition: all 0.3s linear;
}
.menu-list--item-link.active, .menu-list--item-link:hover, .menu-list--item-link:active{
    color: #0b666a;
    transition: color 0.3s linear;
}
@media only screen and (max-width: 1024px){
    .block-menu{
        margin-left: 10%;
    }
    .menu-list--item{
        margin: 0 10px;
    }
}
@media only screen and (max-width: 848px){
    .mobile__menu-button{
        display: block;
    }
    .block-menu{
        display: none;
        margin: 0;
        padding: 20px;
        position: fixed;
        content: '';
        width: 100%;
        top: 73px;
        left: 0;
        background-color: #12f6d2;
        box-shadow: 0 0 12px 5px rgb(11, 165, 140);
        z-index: 1;
    }
    .menu-list--item{
        display: block;
        margin: 10px 0;
    }
}
@media only screen and (max-width: 462px){
    .block-menu{
        top: 103px;
    }
}

.signup{
    float: right;
    margin: 1px;
    padding: 6px 15px;
    border: 1px solid;
    border-radius: 4px;
}
.signup--button{
    color: inherit;
}

.block-wrapper{
    padding: 140px 0;
}
@media only screen and (max-width: 732px){
    .block-wrapper{
        padding: 82px 0 32px;
    }
}
@media only screen and (max-width: 452px){
    .block-wrapper{
        padding: 56px 0 12px;
    }
}

.block-left{
    width: 464px;
    float: left;
}
.block-left__title{
    margin: 6px 0;
    font-size: 42px;
    text-transform: uppercase;
}
.block-left > p{
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}
.block-left__buttons{
    margin: 28px 0;
}
.button-element{
    padding: 14px 33px;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 5px 8px 1px rgba(0,0,0,0.2);
}
.block-left__button{
    transition: all 0.2s linear;
    background-color: #fff;
    color: #525f6e;;
}
.block-left__button:first-child{
    margin-right: 16px;
}
.block-left__button:hover, .block-left__button:active{
    background-color: #061e37;
    color: #fff;
    transition: all 0.2s linear;
}
@media only screen and (max-width: 1132px) {
    .block-left{
        width: 47%;
    }
    .block-left__title{
        font-size: 28px;
    }
    .block-left > p{
        font-size: 14px;
        line-height: 20px;
    }
    .block-left__buttons{
        margin: 16px 0;
    }
    .button-element{
        padding: 10px 20px;
        font-size: 11px;
    }
    .block-left__button:first-child{
        margin-right: 8px;
    }
}
@media only screen and (max-width: 732px) {
    .block-left{
        float: none;
        width: 100%;
    }
}

.block-right{
    float: right;
}
@media only screen and (max-width: 1132px){
    .block-right > video{
        width: 296px;
        height: 196px;
    }
}
@media only screen and (max-width: 732px){
    .block-right{
        margin-top: 46px;
        width: 100%;
        float: none;
        text-align: center;
    }
    .block-right > video{
        width: 68%;
        height: auto;
    }
}
/*speakout - intermidate*/

/* Easy and useful */
.easy-useful{
    color: #000;
    margin-bottom: 78px;
}
.block-header{
    text-align: center;
}
.block-title{
    font-size: 34px;
    margin: 0;
    color: #061e37;
}
.block-parag{
    font-size: 24px;
    margin: 5px 0 15px;
    color: #96abb7;
}
.block-info{
    display: inline-block;
    text-align: center;
    font-size: 15px;
    line-height: 21px;
    color: #b4c0c6;
    width: 486px;
}

.easy-useful--items{
    text-align: center;
    margin: 70px 0px 48px;
}
.easy-useful--item{
    display: inline-block;
    width: 26%;
    text-align: center;
    margin-right: calc(11% - 6px);
}
.easy-useful--item:last-child{
    margin-right: 0;
}
.easy-useful--item-img{}
.easy-useful--item-img>img{
    width: 42px;
}
.easy-useful--item-title{
    margin: 20px 0 0;
    font-size: 18px;
    color: #515c6a;
}
.easy-useful--item-parag{
    font-size: 15px;
    margin-top: 8px;
    color: #a7b4bb;
}

.easy-useful__btn{
    display: inline-block;
    color: #fff;
    background-color: #1de9b6;
}

@media only screen and (max-width: 732px){
    .easy-useful{
        margin-bottom: 0;
    }
    .block-title{
        font-size: 24px;
    }
    .block-parag{
        font-size: 18px;
        margin: 4px 0 8px;
    }
    .block-info{
        font-size: 14px;
        width: auto;
    }
    .easy-useful--items {
        margin: 34px 0px 20px;
    }
    .easy-useful--item-img > img {
        width: 32px;
    }
    .easy-useful--item-title {
        margin: 14px 0 0;
        font-size: 15px;
    }
    .easy-useful--item-parag {
        font-size: 13px;
        margin-top: 6px;
    }
}
@media only screen and (max-width: 512px){
    .easy-useful--item {
        display: block;
        width: auto;
        margin-right: 0;
    }
}

/* Count */
.count{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.count-item{
    text-align: center;
    flex: 25%;
    padding: 28px 0;
}
.count-business{
    background-color: #80d8ff;
}
.count-item-img{
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    padding: 12px 15px;
    border-radius: 50%;
}
.count-item-img>img{
    width: 14px;
    height: 16px;
}
.count-info{
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    text-align: left;
    margin-left: 11px;
}
.count-info--number{}
.count-info--number>sup{
    margin-left: 1px;
    vertical-align: top;
}
.count-info--text{
    margin: 2px 0;
    font-weight: bold;
    font-size: 16px;
}

.count-dowload{
    background-color: #82b1ff;
}

.count-users{
    background-color: #b388ff;
}

.count-pro{
    background-color: #ea80fc;
}
@media only screen and (max-width: 842px){
    .count-item{
        flex: 50%;
    }
}
@media only screen and (max-width: 572px){
    .count-item{
        flex: 100%;
    }
}


/* Services block */
.smblock{
    width: 800px;
    margin: 64px auto 0;
}
.services-item{
    margin: 12px 0;
    padding: 8px 24px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 2px rgba(105, 105, 105, 0.3)
}
.services-toggle {
    cursor: pointer;
    padding: 10px 48px;
    color: #000;
    text-transform: uppercase;
    font-size: 15px;
    position: relative;
}
.services-toggle::after{
    position: absolute;
    display: block;
    content: '';
    width: 11px;
    height: 6px;
    background-image: url(../images/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-size: contain;
    top: 14px;
    right: 0;
}
.services-toggle::before{
    position: absolute;
    display: block;
    content: '';
    width: 18px;
    height: 17px;
    top: 14px;
    left: 0;
}
.statistic::before{
    background-image: url(../images/statistic__up.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.inbox::before{
    background-image: url(../images/mail.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.team::before{
    background-image: url(../images/group.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.settings::before{
    background-image: url(../images/settings.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.feed::before{
    background-image: url(../images/rss_feed.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.services-body{
    display: none;
    padding: 10px 0;
}
.img-block{
    display: inline-block;
}
.services-img{}
.services-content{
    display: inline-block;
    width: calc(100% - 255px);
    vertical-align: middle;
    padding: 0 25px;
}
.services-parag{
    color: #000;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 20px;
    text-align: justify;
}
@media only screen and (max-width: 972px){
    .smblock{
        width: 100%;
    }
    .services-parag {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .services-content {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 672px){
    .img-block{
        display: flex;
        justify-content: center;
    }
    .services-content{
        display: block;
        width: 100%;
        padding: 10px 0 0;
    }
}

/* Comment */
.comment {
    min-height: 325px;
    background: linear-gradient(to right, rgba(0, 255, 161, 0.9) 10%, rgb(141, 214, 255) 100%), url(../images/Rectangle-1-copy-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.comment-title{
    font-size: 23px;
    line-height: 33px;
}
.comment-button{
    display: inline-block;
    margin: 33px 0;
}

/* footer */
.footer{
    min-height: auto;
    background-color: #061e37;
}
.footer-menu{
    float: right;
}
.footer-list{
    list-style: none;
    padding-left: 0px;
    margin: 8px 0;
}
.footer-list--item{
    display: inline-block;
    margin: 0 20px;
}
@media only screen and (max-width: 848px){
    .footer-list--item{
        margin: 0 10px;
    }
}
@media only screen and (max-width: 612px){
    .footer-menu{
        display: none;
    }
}
.bottom{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.bottom-left{
    margin-right: auto;
}
.bottom-button{
    display: inline-block;
    color: #54606e;
    transition: all 0.3s linear;
}
.bottom-button:hover, .bottom-button:active{
    color: #fff;
    transition: color 0.3s linear;
}
.dot{
    width: 5px;
    height: 5px;
    vertical-align: middle;
    display: inline-block;
    background-color: #54606e;
    border-radius: 50%;
    margin: 0 10px;
}
.bottom-right{}
.social-button{}
@media only screen and (max-width: 512px){
    .bottom{
        flex-direction: column;
    }
    .bottom-left{
        margin-right: 0;
    }
    .bottom-right {
        margin-top: 12px;
    }
}

/* contact */
.contact{
    background-color: #fafafa;
}
.contact-form{
    margin: 52px 0 90px;
}
.form-item{
    padding-top: 20px;
}
.form-item > label {
    color: #061e37;
}
.sm-item{
    display: inline-block;
    width: 50%;
}
.sm-item:nth-child(2n+1){
    padding-right: 20px;
}
.sm-item:nth-child(2n){
    padding-left: 20px;
}
.sm-item:nth-child(6){
    padding-right: 20px;
    padding-left: 0;
}
.sm-item:nth-child(7){
    padding-right: 0;
    padding-left: 20px;
}
 .form-input{
    padding: 16px;
    width: 100%;
    border: 1px solid #a9b1b9;
    border-radius: 6px;
    letter-spacing: 1px;
 }
.form-item > input{}
.form-item > textarea{
    line-height: 20px;
    resize: none;
}
label > input{
    vertical-align: bottom;
}
.form-button{
    text-align: right;
}
.btn-send{
    color: #fff;
    background-color: #1de9b6;
}
@media only screen and (max-width: 564px){
    .contact-form {
        margin: 26px 0;
    }
    .form-item{
        padding-top: 5px;
    }
    .sm-item{
        display: block;
        width: 100%;
        padding: 5px 0 !important;
    }
    .form-button{
        text-align: left;
    }
}

/* Team */
.team{}
.slider-user{
    width: 75%;
    line-height: 24px;
    margin: 40px auto;
    text-align: center;
}
.slider-user__name{
    font-size: 18px;
    color: #061e37;
}
.slider-user__text{
    font-size: 15px;
    color: #b4c0c6;
}